
.instructions{
    width: 50%;
}
.add_button{
    background-color: #1765e3;
    border-color: #1765e3;
    color: #fff;
    font-size: 26pt;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.add_button:hover{
    background-color: #1457c4;
}

.split_container{
    font-family: Arial;
    width: 100%;
    display: flex;
}

.requirements_container{
    margin: 15px;
    height: 100%;
    width: 20%;
}

.capstone_container{
    border-left-style: solid;
    border-width: 3px;
    margin: 15px;
    height: 100%;
    width: 100%;
}

.requirements_input{
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 3px;
    font-size: 14pt;
}

.requirements_input_container{
    margin: 10px;
    display: flex;
}

.capstone_data_margin{
    border-color: #999;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    margin: 15px;
    display: flex;
}

.capstone_data{
    margin: 15px;
    font-family: Arial;
    font-size: 16pt;
    margin-right: 20px;
    width: 100%;

}

.capstone_data select{
    margin: 10px;
    border-style: dashed;
    width: 40px;
    height: 25px;
    font-size: 14pt;
    text-align: center;
}

.capstone_data_title{
    width: 50%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: #CCC;
    font-size: 16pt;
}

.x_button{
    padding: 8px;
    height: 18px;
    width: 18px;
}

.x_button_small{
    padding: 6px;
    height: 12px;
    width: 12px;
}

.capstone_skills_list_container{
    width: 800px;
    padding: 10px;
    margin-right: 20px;
    position: relative;
}

.capstone_skills_list{
    background-color: #DDD;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}